.modal {
    height: 100%;
    left: 0;
    margin: auto;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-show {
    animation: ModalShow .4s ease-out forwards;
    visibility: visible;
}

@keyframes ModalShow {
    to {
        opacity: 1;
    }
}

.modal-content {
    background-color: rgb(255, 255, 255);
    margin: 50px auto 0 auto;
    width: 400px;
    padding: .2em 2em;
}

.modal-content-drop {
    animation: ModalContentDrop .4s ease-out forwards;
}

@keyframes ModalContentDrop {
    to {
        margin-top: 100px;
    }
}

.modal-center {
    margin: auto;
}

.modal button {
    border-radius: 2px;
    background-size: 204%;
    background-position-x: 100%;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
    padding: .4em .8em;
}

.modal .cancel {
    background-image: linear-gradient(to right, rgb(212, 79, 56) 50%, #e1e1e1 50%);
}

.modal .submit {
    background-image: linear-gradient(to right, rgb(56, 142, 212) 50%, #e1e1e1 50%);
}

.modal button:hover {
    cursor: pointer;
}