/* Modal Style */

.modal {
    height: 100%;
    left: 0;
    margin: auto;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-center {
    background-color: rgb(255, 255, 255);
    margin: 50px auto 0 auto;
    width: 400px;
    padding: .2em 2em;
}

/* Modal Animation */

.modal-show {
    animation: ModalShow .4s ease-out forwards;
    visibility: visible;
}

.modal-center-drop {
    animation: ModalCenterDrop .4s ease-out forwards;
}

@keyframes ModalShow {
    to {
        opacity: 1;
    }
}

@keyframes ModalCenterDrop {
    to {
        margin-top: 100px;
    }
}

/* Modal Content Stylization */

.modal-content {
    margin: auto;
}