{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="row">
  <h2>Ratings</h2>
  <table>
    <thead>
      <tr>
        <th>Beer Name</th>
        <th>Brewery</th>
        <th>Beer Rating</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for rating in ratings %}
      <tr>
        <td>{{ rating.beer_name }}</td>
        <td>{{ rating.brewery }}</td>
        <td>{{ rating.score }}</td>
        <td>{{ rating.notes }}</td>
        <td><a href="{% url 'rating-edit' rating.id  %}">edit</a></td>
        <td>

          <!-- Use form-submit action to make post request
            to add new beer rating to database -->
          <form method="post" action="{% url 'rating-home' %}">
            {% csrf_token %}
            <button type="submit" value="{{ rating.id }}" name="delete">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div><button id="New">New</button></div>
</div>

<div class="modal">
  <div class="modal-center">
    {% include 'ratings/rating_form.html' %}
  </div>
</div>

<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
